li {
    list-style: none; /* removes default bullet */
    position: relative;
  }
  
  li::before {
    content: "•";
    position: absolute;
    left: 0.5em;
    width: 10px;
    height: 10px;
  }
